{% extends "blog/base.html" %}
{% block content %}
<h2>Your Profile</h2>
<form method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <fieldset>
    <legend>Account</legend>
    {{ uform.non_field_errors }}
    <div>
      <label>Username</label>
      {{ uform.username }} {{ uform.username.errors }}
    </div>
    <div>
      <label>Email</label>
      {{ uform.email }} {{ uform.email.errors }}
    </div>
  </fieldset>

  <fieldset>
    <legend>Profile</legend>
    {{ pform.non_field_errors }}
    <div>
      <label>Bio</label>
      {{ pform.bio }} {{ pform.bio.errors }}
    </div>
    <div>
      <label>Avatar</label>
      {% if request.user.profile.avatar %}
        <img src="{{ request.user.profile.avatar.url }}" alt="avatar" style="height:60px;width:60px;border-radius:50%;object-fit:cover;">
      {% endif %}
      {{ pform.avatar }} {{ pform.avatar.errors }}
    </div>
  </fieldset>

  <button type="submit">Save changes</button>
</form>
{% endblock %}
